<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fashion store</title>
    <link rel="stylesheet" href="my website/css/main.css">
    <link rel="stylesheet" href="tailwind.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    
<link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap" rel="stylesheet">

<style>   

    .rahul{ background-color: cornflowerblue;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .home ul a button{ max-width: 33%; }
    h1{font-family: 'Original Surfer', cursive;}
    .home ul li a{font-family: 'Original Surfer', cursive; }
    
    .noob{ position: relative;
        overflow: hidden;
    font-family: 'Baloo Chettan 2', cursive;}
    
    
        .noob button{ background-color: grey;
        border-radius: 4px;}
       .noob p{ font-weight:300px;}
    
    .second{ height: 4000px;}
    
    .card button{background-color: grey;
        border-radius: 4px;}
       .noob p{ font-weight:300px;}
       .second button{background-color: grey;
        border-radius: 4px;}
       .noob p{ font-weight:300px;} 
    </style> 
</head>


<body> 
   

    <nav class="bg-black h-20  ">

        <div class="home flex  ">
            
            <h1 class="w-3/4 pt-6 ml-6 text-xl text-white">urban virsa fashion</h1>
            
    
        <ul class=" flex p-4 text-white " ><li class="p-4" ><a href="/">menu</a></li>
            <li class="p-4"><a href="/register">register</a></li>
            <li class="p-4"><a href="/login">login</a></li>
            <li class=" pb-10"><a href="/cart"> <button> <img class="rounded-2xl" src="my website/img/logo.png.png" alt="logo"></button></a></li>

            </ul>
        </div>
    </nav>


    <section class=" cart ">
        <div class=" pt-10 pl-36 order container mx-auto w-1/2 ">
        <div class=" flex items-centre border-b border-grey-300 pb-4"> 
            <img src="img/img.png.1.jpg" alt="img">
            <h1 class=" font-bold ml-4 text-2xl">order summary</h1>
        </div>
        <div class="  pt-12 fashion-list">
            <div class="flex items-centre"><img src="img/img.png.2.jpg" alt="img">
            <div> <h1> blue shirt</h1>
            <span> XL</span></div>

            <span class="pl-40">1pcs</span>
            <span class="pl-40">₹800</span>

        </div>
        <div class="flex items-centre"><img src="img/img.png.2.jpg" alt="img">
            <div> <h1> blue shirt</h1>
            <span> XL</span></div>

            <span class="pl-40">1pcs</span>
            <span class="pl-40">₹800</span>

        </div>
        <div class="flex items-centre"><img src="img/img.png.2.jpg" alt="img">
            <div> <h1> blue shirt</h1>
            <span> XL</span></div>

            <span class="pl-40">1pcs</span>
            <span class="pl-40">₹800</span>

        </div>
        <hr>

<div class="pl-96">
    <span>total amount:</span>
    <span>₹800</span>
</div>
<div>
 <form class=""  action="">
     <input class="  border border-gray-400 p-2  mb-4 w-1/2" type="text" placeholder="phone number">
     <input class=" border border-gray-400 p-2 w-1/2" type="text" placeholder="address">
      
     <!-- <div class="pl-44"> <button class="bg-black rounded-full text-white font-bold px-6 py-2 mt-6" type="submit">order now
         
     </button></div> -->
     <div class="pl-44"> <a href="/login"><button class="bg-black rounded-full text-white font-bold px-6 py-2 mt-6" type="submit">login to continue
         
    </button></a></div>
 </form></div>
        </div>
        
        
        </div>
       
        
        <!-- <div class="container mx-auto flex justify-centre items-centre">

         <h1 class="text-3xl pt- text-centre pt-40 pl-40 font-bold mb-2 "> cart empty </h1> 

        <p class=" py-52 inline-block justify-centre">you probalbly havn't order a product yet.
            to order our products, go to the main page
        </p>
<a href="" class=" py-60" > <button class=" rounded-full px-6 py-2 inline-block bg-black text-white">go back</button></a>
    </div> -->
    </section>
        
    </body>